<!-- 
<ul>
  <li>

  
<h2><a target="blank"rel="noopener"href="https://angular.io/tutorial">Tour of Heros</a></h2>
</li>
<li>
  <h2><a target="blank"rel="noopener"href="https://angular.io/tutorial">Tour of Heros</a></h2>"
</li>
<li>
  <h2><a target="blank"rel="noopener"href="https://angular.io/tutrial">Tour of Heros</a></h2>"

</li>
</ul> -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="h">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" roterLink="a">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="l">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>